version: '3.9'

services:
  mysql:
    container_name: mysql
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: Project
      MYSQL_USER: appuser
      MYSQL_PASSWORD: CSS222
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uappuser", "-pCSS222"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    container_name: backend
    build: ./server
    restart: always
    environment:
      DB_HOST: mysql
      DB_USER: appuser
      DB_PASS: CSS222
      DB_NAME: Project
    ports:
      - "3000:3000"
    depends_on:
      mysql:
        condition: service_healthy
    command: sh -c "npx wait-on tcp:mysql:3306 && npm run init-db && npm run set-db && npm run dev"

  frontend:
    container_name: frontend
    build: ./client
    restart: always
    ports:
      - "5500:80"
    depends_on:
      - backend

volumes:
  mysql_data: